#navibar{
    overflow: hidden;
    position: -webkit-sticky;
    margin-right: -7.4rem;
    margin-left: -7.4rem;
    margin-top: -2.9rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }